@import "./_variables.scss";

.contactsContainer {
  /* border: 1px solid orange; */
  height: 30vh;
  /* background-image: $secondaryBgImg; */
}

.icons {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  height: 90%;
}

.socialIcon {
  width: 30%;
  /* border: 1px solid red; */
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialName {
  /* border: 1px solid pink; */
  width: auto;
  font-size: 0.2em;
}
