@import "./variables";

.navSection {
  /* border: 1px solid red; */
  /* position: fixed; */
  font-family: $primaryFont;
  background: none;
}

.navigationBar {
  /* border: 1px solid green; */
  background: none;
  padding: 2% 5% 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navMenu {
  /* border: 1px solid red; */
  width: 40%;
  background: none;
}

.navItems {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background: none;
}

.navItems li {
  /* border: 1px solid yellow; */
  padding: 2%;
  background: none;
}

.navigationBar > h1 {
  color: white;
  background: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}

.navItems a {
  text-decoration: none;
  color: white;
  background: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
}

.navItems a:hover {
  background-color: #ddd;
  color: black;
}

/* create function for setting the color on an active nav item */
/* ul a.active {
  background-color: yellow;
  color: black;
} */
