@import "./_variables.scss";

/* .skillsSection {
  border: 1px solid yellow;
} */

/* .skillsContainer {
  border: 1px solid white;
} */

.skills {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  padding: 4%;

  div {
    /* border: 1px solid yellow; */
    padding: 2%;
    margin: 4%;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 8%;
    text-transform: uppercase;
    font-weight: 300;
  }

  li {
    list-style: none;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 2%;
  }
}

.skillsImgContainer {
  /* border: 1px solid red; */
  width: 35%;
}

.skillsImg {
  /* border: 1px solid yellow; */
  width: auto;
}
