@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;wght@400;600&display=swap");

$primaryFont: "Raleway", sans-serif;
$secondaryFont: "Rubik", sans-serif;
$primaryBgImg: url("/images/gray-floral.png");
$secondaryBgImg: url("/images/xv.png");
