@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

hr {
  width: 15%;
  margin-left: 42%;
}

.sectionTitle {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: -3%;
}

/* NAVIGATION MENU */
.navSection.active {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(68, 69, 70) 100%);
}

.name {
  letter-spacing: 0.1rem;
  color: #fff;
}

.name:hover {
  color: #808080;
}

.navMenu {
  margin-right: 1%;
}

.navBrand {
  margin-left: 1%;
}

.navItems a {
  letter-spacing: 0.2rem;
  border-bottom: 3px solid transparent;
}

.navItems a:hover{
  border-bottom: 2px solid white;
  transition: 0.3s ease-in-out;
}

/* ABOUT SECTION */
.aboutContainer {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/fuji2.jpg);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/fuji2.jpg); */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
}

.aboutDescDiv {
  width: 55%;
  margin: auto;
  padding: 2%;
  text-align: center;
}

.aboutText{
  text-shadow: 1px 1px 5px black;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: .5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.aboutTitle{
  font-size: 2rem;
}

/* SOCIAL MEDIA */
.socialMedia {
  padding-top: 2%;
  text-align: center;
  margin-top: 5%;
}

.icon-button {
  padding: 3%;
}

.icon-button i {
  color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  position: relative;
  text-align: center;
  margin-bottom: 2%;
  transition: 0.2s ease-in;
}

.githubIcon i {
  background-color: #999999;
}

.linkedinIcon i {
  background-color: #2765C2;
}

.gmailIcon i {
  background-color: #EA4434;
}

.mediumIcon i {
  background-color: #000000;
}

.githubIcon i:hover,
.linkedinIcon i:hover,
.gmailIcon i:hover,
.mediumIcon i:hover {
  background-color:  #000;
}

/* SKILLS SECTION */
.skillsContainer {
  padding: 5%;
  padding-top: 6%;
  background-color: #f8f8f8;
  background-image: url(../images/xv.png);
  background-attachment: fixed;
  border-bottom: 1px solid #f1f1f1;
}

.skillIcons {
  list-style: none;
  font-size: 4rem;
  margin-right: 2%;
  padding: 1%;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-right: 1%;
}

.software-skill-inline > i {
  color: #000;
}

.software-skill-inline > p {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

/* PROJECTS SECTION */
.projsTitle {
  margin-bottom: 5%;
  
}
.cardDiv {
  margin-bottom: 3%;
}
.card {
  height: 100%;
  box-shadow: 0 6px 10px rgb(163, 164, 167);
}

.projImg {
  max-width: 100%;
}

.techStackDiv {
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
}

.techStackDiv li {
  list-style: none;
  margin-right: 5%;
}

.techStackDiv h4 {
  font-size: 17px;
}

.projLinks {
  margin-bottom: 3%;
}

.projText {
  font-size: 1rem;
}

/* CONTACT SECTION */
.resumeBtn {
  background-color: #12635d;
  font-size: 20px;
  box-shadow: 0 6px 10px rgb(163, 164, 167);
}

.resumeBtn:hover {
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.767) 0px 10px 20px -3px;
}

/* FOOTER SECTION */
.footerContainer {
  background-color: #f8f7f7;
  background-image: url(../images/gray-floral.png);
  border-top: 1px solid #f1f1f1;
}

.footerContainer p{
  font-weight: 700;
  margin: auto;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px rgb(151, 146, 146);
  font-size: 1.6rem;
  line-height: 40px;
  letter-spacing: .5px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1025px) {
  .aboutContainer {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 991px) {
  .navMenu {
    background-color:rgba(0, 0, 0, 0.9);
  }
}

@media screen and (max-width: 768px) {
  .aboutDescDiv {
    width: 90%;
  }

  .aboutText {
    line-height: normal;
    text-align: center;
  }

  .aboutTitle {
    font-size: 32px;
    text-align: center;
  }

  .aboutImg {
    max-width: 100%;
  }

  .projDetailDiv {
    flex-direction: column;
  }

  .mobile {
    width: 100%;
  }

  .resumeBtn {
    margin-top: 5%;
  }

  .footerContainer p {
    width: 100%;
  }

}

@media screen and (max-width: 568px) {
  .skillsImg {
    width: 85%;
  }

}

@media screen and (max-width: 375px) {
  .projects {
    width: 100%;
  }

  .projectsCard {
    width: 100%;
  }

  .footerContainer p {
    width: 100%;
  }
  
}

@media screen and (max-width: 320px) {
  .aboutDescDiv {
    margin-top: 25%;
  }
}


